	

     
    body
    {
    background-image:url("bg.png");
    background-repeat:repeat;
    }
     
    @font-face
    {
/*     font-family: myFirstFont;
    src: url(font.ttf); */
		font-family: Ubuntu, sans-serif;
		src: url('font/Ubuntu-R.ttf');
    }
	
	@font-face
	{
		font-family: Ubuntu, sans-serif;
		src: url('font/Ubuntu-R.ttf');
		font-weight:bold;
	}
     
    div
    {
    font-family:Ubuntu, sans-serif;
    }
    div {font-size:20px}
    pre {font-size:24px}
    input.rounded {
     
      border: 1px solid #ccc;
       
      /* Safari 5, Chrome support border-radius without vendor prefix.
       * FF 3.0/3.5/3.6, Mobile Safari 4.0.4 require vendor prefix.
       * No support in Safari 3/4, IE 6/7/8, Opera 10.0.
       */
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      border-radius: 10px;
     
      /* Chrome, FF 4.0 support box-shadow without vendor prefix.
       * Safari 3/4/5 and FF 3.5/3.6 require vendor prefix.
       * No support in FF 3.0, IE 6/7/8, Opera 10.0, iPhone 3.
       * change the offsets, blur and color to suit your design.
       */
      -moz-box-shadow: 2px 2px 3px #666;
      -webkit-box-shadow: 2px 2px 3px #666;
      box-shadow: 2px 2px 3px #666;
     
      /* using a bigger font for demo purposes so the box isn't too small */
      font-size: 20px;
     
      /* with a big radius/font there needs to be padding left and right
       * otherwise the text is too close to the radius.
       * on a smaller radius/font it may not be necessary
       */
      padding: 4px 10px;
     
      /* only needed for webkit browsers which show a rectangular outline;
       * others do not do outline when radius used.
       * android browser still displays a big outline
       */
      outline: 0;
     
      /* this is needed for iOS devices otherwise a shadow/line appears at the
       * top of the input. depending on the ratio of radius to height it will
       * go all the way across the full width of the input and look really messy.
       * ensure the radius is no more than half the full height of the input,
       * and the following is set, and everything will render well in iOS.
       */
      -webkit-appearance: none;
     
    }
     
    input.rounded:focus {
     
      /* supported IE8+ and all other browsers tested.
       * optional, but gives the input focues when selected.
       * change to a color that suits your design.
       */
      border-color: #339933;
     
    }

