@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic&subset=latin,cyrillic-ext,greek,vietnamese,cyrillic,latin-ext,greek-ext);
*{
	list-style-type: none;
	font-family: inherit;
	overflow: auto;
	outline: 0;
	padding: 0;
	margin: 0;
	border: none;
}
html{
	height: 100%;
	width: 100%;
	background-image:url("http://gtirpg.net/MTA/userbar/generator/bg.png");
}
html>body{
	font-family: 'Roboto', sans-serif;
	min-height: 100%;
	position: relative;
}
#main-container{
	padding-top: 30px;
	margin: 0 auto;
	width: 700px;
}
#main-container>p{
	margin-bottom: 30px;
}
#main-container>form>#options>#wrapper{
	margin: 0 auto;
	width: 550px;
}
#main-container>form>#options>#wrapper>#left{
	margin-right: 50px;
	width: 250px;
	float: left;
}
#main-container>form>#options>#wrapper>#right{
	width: 250px;
	float: left;
}
input, select{
	text-transform: uppercase;
	font-weight: bold;
	background: #F2F2F2;
	text-align: center;
	font-size: 20px;
	padding: 25px;
}
input#username{
	display: block;
	margin: 0 auto;
	width: 500px;
}
select{
	margin-bottom: 30px;
	width: 250px;
}
input[type="submit"]{
	background: #00ACE6;
	display: block;
	width: 550px;
	margin :0 auto;
	cursor: pointer;
	color: white;
}